body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* White background */
    color: #000; /* Black text color */
}

header {
    background-color: #000; /* Black header background */
    color: #fff; /* White text color */
    text-align: center;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Stack items vertically */
}

header .logo {
    max-width: 170px; /* Adjust the width as needed for the logo */
    margin-bottom: 10px; /* Add margin between logo and heading */
}

header h1 {
    margin: 0;
}

nav {
    background-color: #000000de; /* Black navigation background */
    color: #fff; /* White text color */
    padding: 1em 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    margin: 0 10px;
}

nav i {
    margin-right: 5px;
}

section {
    padding: 20px;
    text-align: center;
}

.card {
    background-color: #fff; /* White background for cards */
    color: #000; /* Black text color */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Added border-color transition */
    border: 2px solid #000; /* Black border */
}

.card:hover {
    background-color: #f0f0f0; /* Lighter gray background on hover */
    border-color: #000; /* Black border on hover */
}

.card h2 {
    color: #000; /* Black text color for card headings */
}

footer {
    background-color: #000; /* Black footer background */
    color: #fff; /* White text color */
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}

footer div a {
    color: #fff; /* White link color */
}

header img {
    max-width: 100px; /* Adjust the width as needed */
    margin-right: 10px; /* Adjust the margin as needed */
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column; /* Stack navigation items vertically */
        align-items: center; /* Center items on smaller screens */
        padding: 0.5em 0; /* Adjust navigation padding for smaller screens */
    }

    .nav-item {
        display: flex; /* Ensure <i> and <a> stay together in a flex container */
        align-items: center; /* Center items vertically within the flex container */
        margin: 20px 0; /* Add margin to separate navigation items on smaller screens */
    }

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 0.5em 0; /* Adjust navigation padding for smaller screens */
    }

    section {
        padding: 10px; /* Adjust section padding for smaller screens */
        width: 100%; /* Make the main content full width on smaller screens */
    }

    .card {
        padding: 15px; /* Adjust card padding for smaller screens */
        margin: 15px 0; /* Adjust card margin for smaller screens */
        max-width: fit-content;
    }

    footer {
        padding: 0.5em 0; /* Adjust footer padding for smaller screens */
    }

